.modal_blur {
    transition: all .2s ease-in-out;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.modal_previewer{
    display: none;
    border-radius: 4px;background-color: #fff;
    position: fixed;top:50%;left: 50%;
    transform: translate(-50%,-50%);
    font-family: tahoma;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}
@media only screen and (max-width: 420px) {
    .modal_previewer {
        width:94%!important;
    }
}
.modal_previewer.previewer_rtl {
    direction: rtl;
    text-align: right;
}
.modal_previewer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal_previewer a {
    text-decoration: none;
    color: black;
    font-size: .9em;
    font-weight: normal;
}
.modal_previewer iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: none;
    border-radius: 0 0 6px 6px;
}
.modal_previewer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    position: relative;
    padding: 0 30px;
    transition: all 0.3s;
    margin: 0;
    width: 1000%;
    overflow: hidden;
}
.modal_previewer ul li {
    float: left;
    padding: 6px 25px;
    background: #e2e2e2;
    border-radius: 5px 6px 0 0;
    border: 1px solid #aaa;
    border-bottom: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 14px;
}
.modal_previewer ul li span::after {
    content: '';
    display: block;
    background-color: #e2e2e2;
    position: absolute;
    height: 141%;
    width: 21px;
    left: -11px;
    top: 0;
    border-left: 1px solid #8c8a8a;
    transform: rotate(26deg);
    border-radius: 8px 0 0 0;
}
.modal_previewer ul li span::before {
    content: '';
    display: block;
    background-color: #e2e2e2;
    position: absolute;
    height: 141%;
    width: 21px;
    right: -11px;
    top: 0;
    border-right: 1px solid #8c8a8a;
    transform: rotate(-26deg);
    border-radius: 10px 7px 0 0;
}
.modal_previewer ul li.active {
    z-index: 2;background: #f0f0f2;
}
.modal_previewer ul li.active span::after,.modal_previewer ul li.active span::before{
    background-color: #f0f0f2;
}
.modal_previewer .nd_body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #aaa;
    border-radius: 0 0 6px 6px;
}
.modal_previewer .nd_body > div{
    display: none;
}
/*===== modal header*/
.modal_previewer .nd_head {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0 6px;
    overflow: hidden;
    background: #2196F3;
    border-radius: 6px 6px 0 0;
}
.modal_previewer .nd_head.hide {
    display: none;
}
.modal_previewer .btn_prevSlide,
.modal_previewer .btn_nextSlide {
    position: absolute;
    width: 30px;
    height: 34px;
    z-index: 6;
    top: 0;
    background: linear-gradient(to right, rgba(33, 150, 243, .1), rgba(33, 150, 243, 1));
    cursor: pointer;
    display: none;
    box-shadow: 1px 1px 20px rgba(33, 150, 243, .4);
    outline: none;
}
.modal_previewer .btn_prevSlide {
    left: -1px;
    transform: rotate(180deg);
}
.modal_previewer .btn_nextSlide {
    right: -1px;
}
.modal_previewer .btn_nextSlide::after,
.modal_previewer .btn_nextSlide::before,
.modal_previewer .btn_prevSlide::after,
.modal_previewer .btn_prevSlide::before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 14px;
    background-color: #fff;
    transform: rotate(56deg) translate(6px, 4px);
    left: 14px;
    border-radius: 100px;
    top: 6px;
}
.modal_previewer .btn_nextSlide::before,
.modal_previewer .btn_prevSlide::before {
    transform: rotate(-56deg) translateX(0px);
}
.modal_previewer .nd_head .btn_close {
    width: 20px;
    height: 20px;
    background-color: #eee;
    position: absolute;
    top: 7px;
    transition: all .3s ease-in-out;
    border-radius: 100%;
    cursor: pointer;
    z-index: 5;
    border: 2px solid #2196f3;
}
.modal_previewer .nd_head ul li b {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    transition: all .3s;
    top: 8px;
}
.modal_previewer .nd_head ul li b:hover {
    background-color: #f44336;
}
.modal_previewer .nd_head ul li b::after,
.modal_previewer .nd_head ul li b::before,
.modal_previewer .nd_head .btn_close::after,
.modal_previewer .nd_head .btn_close::before {
    content: '';
    display: block;
    width: 2px;
    position: absolute;
    height: 10px;
    background-color: #3a3a3a;
    border-radius: 50px;
    transform: rotate(-45deg);
    left: 7px;
    top: 3px;
}
.modal_previewer .nd_head ul li b::before,
.modal_previewer .nd_head .btn_close::before {
    transform: rotate(45deg);
}
.modal_previewer .nd_head ul li b:hover::after,
.modal_previewer .nd_head ul li b:hover::before {
    background-color: #fff;
}
.modal_previewer .nd_head .btn_close:hover::after,
.modal_previewer .nd_head .btn_close:hover::before {
    background-color: #f44336
}
/* LTR ==>> .previewer_ltr */
.modal_previewer.previewer_ltr .nd_head .btn_close {
    right: 10px;
}
.modal_previewer.previewer_ltr .nd_head .btn_close.active {
    right: 40px;
}
.modal_previewer.previewer_ltr .nd_head ul li b {
    right: 4px;
}
.modal_previewer.previewer_ltr ul li {
    margin: 0 0 0 4px;
}
.modal_previewer.previewer_ltr ul li {
    float: left;
    margin: 0 6px 0 16px;
}
/* RTL  ==>> .previewer_rtl */
.modal_previewer.previewer_rtl .nd_head .btn_close {
    left: 10px;
}
.modal_previewer.previewer_rtl .nd_head .btn_close.active {
    left: 40px;
}
.modal_previewer.previewer_rtl .nd_head ul li b {
    left: 0px;
}
modal_previewer.previewer_rtl ul li {
    margin: 0 4px 0 0;
}
.modal_previewer.previewer_rtl ul li {
    float: right;
    margin: 0 16px 0 6px;
}